@import "./variables";
@import "./gamePattern";
@import "./footer";
@import "./media";
body {
  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
  h1 {
    margin: auto;
    font-size: 3.8rem;
    font-weight: bold;
    color: #b8c6db;
    @include centerAlign(4rem);
    font-family: "Concert One", cursive;
  }
  .sec1 {
    @include centerAlign(8rem);
  }
  .sec2 {
    @include centerAlign(1rem);
  }
  .align {
    margin-left: 18rem;
  }
  .same {
    @include border;
    width: 14rem;
    height: 13rem;
    margin: 1.4rem;
    border-radius: 20%;
  }

  #red {
    background-color: #42378f;
    background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
  }
  #blue {
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  }
  #green {
    background-color: #00b712;
    background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
  }
  #yellow {
    background: linear-gradient(to top left, #ebc400 41%, #ff8ab3 100%);
  }
  .pressed {
    box-shadow: 10px 10px 50px white;
    transform: scale(1.2);
  }
  .wrong {
    background-color: #42378f;
    background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
  }
  .media {
    display: none;
  }
}
@media (max-width: 900px) {
  body {
    overflow-x: hidden;
    background-color: #5de6de;
    background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
    .area {
      display: none;
    }
    .media {
      display: block;
      margin: auto;
      margin-top: 300px;
      overflow: unset;
      .giphy {
        display: flex;
        align-items: center;
        justify-content: center;
        iframe {
        }
      }
      .card {
        background-color: #130f40;
        background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
        height: 400px;
        .card-body {
          p {
            font-family: "Concert One", cursive;
            color: #b8c6db;
            font-size: 3rem;
            text-align: center;
          }
        }
      }
    }
    .footer {
      h2 {
        display: none;
      }
      h3{
        padding-bottom: 2rem;
      }
    }
  }
}
